name: Deploy site

on:
  workflow_run:
    workflows: ["Build my react website"]
    branches: [main]
    types: [completed]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - name: Download artifact
      uses: Armen8793/action-download-artifact@v2
      with:
        workflow: main.yml
        workflow_conclusion: success
    
    - name: Azure login
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Upload my demo react app to Azure blob storage
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
            az storage blob upload-batch --account-name abbdemotaskstorage -d '$web' -s ./ready-files
    
    - name: Azure logout
      run: |
            az logout
      
      
      
    
    
