name: ABB task demo
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'
      
    - name: Install npm packages and build
      run: |
          npm install
          npm run build --if-present
      
    - name: Run unit tests
      run: npm run test 
      
    - name: Upload ready build files
      uses: actions/upload-artifact@v2
      with:
        name: ready-files
        path: build/
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        
    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az storage blob upload-batch --account-name abbdemotaskstorage --auth-mode key -d '$web' -s .
.
  # Azure logout
   - name: logout
     run: |
       az logout
     if: always()      
